/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.navbar .container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
}
.navbar .container ul {
  padding: 1% 0;
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
  width: 100%;
}
.navbar .container ul li {
  padding: 0 1%;
}
.navbar .container .left-side-ul {
  justify-content: start;
}
.navbar .container .left-side-ul .border {
  border-right: 1px solid #bbb;
}
.navbar .container .left-side-ul li i {
  padding: 10% 1%;
  color: black;
}
.navbar .container .left-side-ul .logo {
  font-size: 3rem;
  border-right: 1px solid #bbb;
  padding-right: 2%;
}
.navbar .container .left-side-ul .logo a {
  color: #7601d6;
  text-decoration: none;
  font-weight: 600;
}
.navbar .container .right-side-ul {
  justify-content: end;
  margin-top: 0.3%;
}
.navbar .container .right-side-ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #7601d6;
  font-weight: 600;
}
.navbar .container .right-side-ul li a i {
  color: black;
}
.showcase {
  background: url(/img/showcase.jpg) no-repeat center;
  height: 75%;
}
.showcase .input-container {
  position: relative;
  padding: 0;
  margin: 0;
}
.showcase .input {
  height: 20px;
  margin: 0;
  padding-left: 30px;
}
.showcase #input-icon {
  position: absolute;
  bottom: 8px;
  left: 10px;
  width: 10px;
  height: 10px;
}
