/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
  background: #dddddd;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  background: #fff;
}
.navbar .container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
}
.navbar .container ul {
  padding: 1% 0;
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
  width: 100%;
}
.navbar .container ul li {
  padding: 0 1%;
}
.navbar .container .left-side-ul {
  justify-content: start;
}
.navbar .container .left-side-ul .border {
  border-right: 1px solid #5a5a5a;
}
.navbar .container .left-side-ul li i {
  padding: 10% 1%;
  color: black;
}
.navbar .container .left-side-ul .logo {
  font-size: 3rem;
  border-right: 1px solid #5a5a5a;
  padding-right: 2%;
}
.navbar .container .left-side-ul .logo a {
  color: #7601d6;
  text-decoration: none;
  font-weight: 600;
}
.navbar .container .right-side-ul {
  justify-content: end;
  margin-top: 0.3%;
}
.navbar .container .right-side-ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: orange;
  font-weight: 600;
}
.navbar .container .right-side-ul li a i {
  color: black;
}
.navbar-before-login .container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
}
.navbar-before-login .container ul {
  padding: 1% 0;
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
  width: 100%;
}
.navbar-before-login .container ul li {
  padding: 0 1%;
}
.navbar-before-login .container .left-side-ul {
  justify-content: start;
}
.navbar-before-login .container .left-side-ul .border {
  border-right: 1px solid #5a5a5a;
}
.navbar-before-login .container .left-side-ul li i {
  padding: 10% 1%;
  color: black;
}
.navbar-before-login .container .left-side-ul .logo {
  font-size: 3rem;
  border-right: 1px solid #5a5a5a;
  padding-right: 2%;
}
.navbar-before-login .container .left-side-ul .logo a {
  color: #7601d6;
  text-decoration: none;
  font-weight: 600;
}
.navbar-before-login .container .right-side-ul {
  justify-content: end;
  margin-top: 0.3%;
}
.navbar-before-login .container .right-side-ul li .primary {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 20px;
  display: inline;
  color: #fff;
  background: orange;
}
.navbar-before-login .container .right-side-ul li .secondary {
  font-size: 2rem;
  text-decoration: none;
  padding: 10px 20px;
  display: inline;
  color: #333;
  background: none;
}
@media (max-width: 1000px) {
  .navbar-before-login .container {
    display: flex;
    justify-content: none;
    flex-direction: column;
    align-items: none;
    flex-flow: none;
  }
  .navbar-before-login .container .left-side-ul {
    justify-content: center;
  }
  .navbar-before-login .container .right-side-ul {
    justify-content: center;
  }
  .navbar-before-login .container .right-side-ul li .primary {
    text-decoration: none;
    padding: 10px 20px;
    display: inline;
    color: orange;
    background: none;
  }
  .navbar .container {
    display: flex;
    justify-content: none;
    flex-direction: column;
    align-items: none;
    flex-flow: none;
  }
  .navbar .container .left-side-ul {
    justify-content: center;
  }
  .navbar .container .right-side-ul {
    justify-content: center;
  }
}
@media (max-width: 760px) {
  .navbar-before-login .container {
    display: flex;
    justify-content: none;
    flex-direction: column;
    align-items: none;
    flex-flow: none;
  }
  .navbar-before-login .container .left-side-ul {
    justify-content: center;
  }
  .navbar-before-login .container .right-side-ul {
    justify-content: center;
  }
  .navbar-before-login .container .right-side-ul li .primary {
    text-decoration: none;
    padding: 10px 20px;
    display: inline;
    color: orange;
    background: none;
  }
  .navbar .container {
    display: flex;
    justify-content: none;
    flex-direction: column;
    align-items: none;
    flex-flow: none;
  }
  .navbar .container .left-side-ul {
    justify-content: center;
  }
  .navbar .container .right-side-ul {
    justify-content: center;
  }
}
.main-footer {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 5%;
  background: #333;
}
.main-footer .copyright {
  text-align: center;
  color: #fff;
}
.main-footer .footer-nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
}
.main-footer .footer-nav ul li {
  padding: 2%;
}
.main-footer .footer-nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
}
@media (max-width: 760px) {
  .main-footer {
    max-width: 100%;
    margin-top: 5%;
    background: #333;
  }
  .main-footer .copyright {
    font-size: 13px;
    text-align: center;
    color: #fff;
  }
  .main-footer .footer-nav ul li a {
    font-size: 16px;
  }
}
.showcase .bg-img {
  background: url(/img/showcase.jpg) no-repeat center center;
  width: 100%;
  height: 75%;
  background-size: cover;
  position: relative;
}
.showcase .bg-img:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000000, #000000);
  opacity: 0.7;
  z-index: 0;
}
.showcase .form-wrapper {
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-flow: none;
}
.showcase .form-wrapper input {
  padding: 10%;
}
.showcase .form-wrapper .btn {
  z-index: 0;
  margin-left: 5%;
  text-decoration: none;
  padding: 18px 40px;
  display: block;
  color: #7601d6;
  background: white;
}
.showcase .form-wrapper .btn a {
  text-decoration: none;
}
.showcase .form-wrapper .input-container {
  position: relative;
  padding: 0;
  margin: 0;
}
.showcase .form-wrapper .input {
  height: 20px;
  margin: 0;
  padding-left: 30px;
}
.showcase .form-wrapper #input-icon {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 8px;
}
.restaurants-selection .container .current-location {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
  padding-top: 1%;
  color: #5a5a5a;
}
.restaurants-selection .container .current-location a {
  color: #7601d6;
  text-decoration: none;
}
.restaurants-selection .container .row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-flow: none;
}
.restaurants-selection .container .row .col-1 {
  height: 100%;
  width: 70%;
}
.restaurants-selection .container .row .col-1 h1 {
  font-size: 20px;
  margin: 2% 0;
  color: #333;
}
.restaurants-selection .container .row .col-1 .boxes {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
}
.restaurants-selection .container .row .col-1 .boxes .box {
  width: 100%;
  height: 150px;
  margin: 1% 5% 1% 0;
  background: #ccc;
  padding: 15%;
}
.restaurants-selection .container .row .col-2 {
  margin-left: 5%;
  width: 55%;
  height: 100%;
}
.restaurants-selection .container .row .col-2 h5 {
  text-align: center;
  font-size: 2rem;
  color: #5a5a5a;
  font-weight: bold;
  padding: 1% 0;
}
.restaurants-selection .container .row .col-2 .card {
  background: #fff;
  padding: 1% 2%;
  margin: 2% 0;
  border-radius: 10px;
  width: 100%;
}
.restaurants-selection .container .row .col-2 .card .message {
  padding: 1%;
}
.restaurants-selection .container .row .col-2 .card .flex-wrapper {
  padding-top: 2%;
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
}
.restaurants-selection .container .row .col-2 .card .flex-wrapper .user-pic {
  width: 15%;
  height: 15%;
  border-radius: 50%;
}
.restaurants-selection .container .row .col-2 .card .flex-wrapper .user-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
}
.restaurants-selection .container .row .col-2 .card .flex-wrapper .user-info .account-info p {
  text-align: center;
}
.restaurants-selection .container .row .col-2 .card .flex-wrapper .user-info .account-info p span {
  color: #5a5a5a;
  display: block;
  margin-left: 25%;
  font-size: 14px;
}
.restaurants-selection .container .row .col-2 .card .flex-wrapper .user-info .time-posted p {
  color: #5a5a5a;
}
@media (max-width: 1000px) {
  .showcase .form-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-flow: none;
  }
  .showcase .form-wrapper .btn {
    margin-top: 5%;
  }
  .restaurants-selection .container {
    max-width: 700px;
  }
  .restaurants-selection .container .current-location {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: none;
    flex-flow: none;
    padding-top: 1%;
    color: #5a5a5a;
  }
  .restaurants-selection .container .current-location a {
    color: #7601d6;
    text-decoration: none;
  }
}
@media (max-width: 760px) {
  .showcase .form-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-flow: none;
  }
  .showcase .form-wrapper .btn {
    margin-top: 5%;
  }
  .restaurants-selection .container .current-location {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: none;
    flex-flow: none;
    padding-top: 1%;
    color: #5a5a5a;
  }
  .restaurants-selection .container .current-location a {
    color: #7601d6;
    text-decoration: none;
  }
  .restaurants-selection .container .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-flow: none;
  }
  .restaurants-selection .container .row .col-1 {
    height: 100%;
    width: 80%;
  }
  .restaurants-selection .container .row .col-1 h1 {
    text-align: center;
  }
  .restaurants-selection .container .row .col-2 {
    margin-left: 0;
    width: 80%;
  }
  .restaurants-selection .container .row .col-2 h5 {
    padding: 5% 0;
  }
}
.search-header {
  background: url(/img/header.jpg) center;
  background-size: cover;
  height: 15%;
}
.search-header .container .form-wrapper {
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-flow: none;
}
.search-header .container .form-wrapper input {
  padding: 10%;
}
.search-header .container .form-wrapper .btn {
  z-index: 0;
  margin-top: 0.1%;
  margin-left: 1.8%;
  text-decoration: none;
  padding: 20px 40px;
  display: block;
  color: white;
  background: #7601d6;
  border: none;
}
.search-header .container .form-wrapper .btn a {
  text-decoration: none;
  color: white;
}
.search-header .container .form-wrapper .input-container {
  position: relative;
  padding: 0;
  margin: 0;
}
.search-header .container .form-wrapper .input {
  height: 20px;
  margin: 0;
  padding-left: 30px;
}
.search-header .container .form-wrapper #input-icon {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 8px;
}
.search-main-section .container .row {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
}
.search-main-section .container .row .col-1 {
  margin-top: 2%;
  height: 100%;
  width: 30%;
}
.search-main-section .container .row .col-1 .col-container {
  max-width: 350px;
  margin: 0 auto;
}
.search-main-section .container .row .col-1 .col-container .map {
  margin: auto;
  background: url(/img/map.jpg);
  background-size: cover;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-flow: none;
}
.search-main-section .container .row .col-1 .col-container .map h1 {
  color: #fff;
  text-align: center;
  margin: auto 0;
}
.search-main-section .container .row .col-1 .col-container .price .label-price {
  margin: 5% 0 1% 0;
  color: #5a5a5a;
  font-weight: bold;
}
.search-main-section .container .row .col-1 .col-container .price .price-content ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-flow: none;
}
.search-main-section .container .row .col-1 .col-container .price .price-content ul .border {
  border-right: 1px solid #5a5a5a;
}
.search-main-section .container .row .col-1 .col-container .price .price-content ul li {
  padding: 1% 2%;
}
.search-main-section .container .row .col-1 .col-container .checkbox-wrapper {
  margin: 5% 0;
}
.search-main-section .container .row .col-1 .col-container .checkbox-wrapper h5 {
  font-size: 20px;
}
.search-main-section .container .row .col-1 .col-container .checkbox-wrapper .checkboxes .box {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
}
.search-main-section .container .row .col-1 .col-container .checkbox-wrapper .checkboxes .box p {
  margin-top: 2%;
  margin-left: 5%;
}
.search-main-section .container .row .col-1 .col-container .checkbox-wrapper .checkboxes .more {
  font-size: 15px;
  margin-left: 10%;
  text-decoration: none;
}
.search-main-section .container .row .col-2 {
  margin-left: 5%;
  width: 100%;
  height: 100%;
}
.search-main-section .container .row .col-2 .col-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2%;
}
.search-main-section .container .row .col-2 .col-container .col-header {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
  border-bottom: 1px solid #5a5a5a;
}
.search-main-section .container .row .col-2 .col-container .col-header .filter {
  margin-right: 1%;
  font-size: 2rem;
}
.search-main-section .container .row .col-2 .col-container .col-header .tag {
  margin-top: 0.3%;
  color: #5a5a5a;
}
.search-main-section .container .row .col-2 .col-container .col-header .close {
  margin-top: 1%;
  margin-left: 0.5%;
  color: #5a5a5a;
}
.search-main-section .container .row .col-2 .col-container .restaurants-wrapper h5 {
  font-size: 2rem;
  margin: 1% 0 0 0;
}
.search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card {
  padding: 1% 2%;
  margin: 1% 0;
  border-radius: 10px;
  width: 100%;
}
.search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
}
.search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-pic {
  width: 30%;
  height: 30%;
}
.search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
}
.search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper .restaurant-info {
  margin-left: 2%;
}
.search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper .restaurant-info .title {
  color: orange;
  font-size: 3rem;
}
.search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper .restaurant-info .title span {
  display: block;
  color: #5a5a5a;
  font-size: 20px;
}
.search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper .restaurant-info .recommended {
  color: #7601d6;
}
.search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper .priced {
  margin-top: 6%;
}
.search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper .priced p {
  color: #5a5a5a;
}
@media (max-width: 1000px) {
  .search-header {
    height: 50%;
  }
  .search-header .container .form-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-flow: none;
  }
  .search-header .container .form-wrapper .btn {
    z-index: 0;
    margin-top: 5%;
  }
  .search-main-section .container {
    max-width: 700px;
  }
  .search-main-section .container .priced {
    margin-top: 6%;
  }
  .search-main-section .container .priced p {
    color: #5a5a5a;
  }
  .search-main-section .container .priced .fa-user {
    display: none;
  }
}
@media (max-width: 760px) {
  .search-header {
    height: 50%;
  }
  .search-header .container .form-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-flow: none;
  }
  .search-header .container .form-wrapper .btn {
    z-index: 0;
    margin-top: 5%;
  }
  .search-main-section .container .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: none;
    flex-flow: none;
  }
  .search-main-section .container .row .col-1 {
    margin-top: 2%;
    height: 100%;
    width: 100%;
  }
  .search-main-section .container .row .col-2 {
    margin-left: 0;
    margin: 0 auto;
    width: 80%;
    height: 100%;
  }
  .search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card {
    padding: 1% 2%;
    margin: 5% 0;
  }
  .search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper {
    display: flex;
    justify-content: none;
    flex-direction: row;
    align-items: none;
    flex-flow: none;
  }
  .search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: none;
    flex-flow: none;
  }
  .search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper .restaurant-info {
    margin-left: 2%;
  }
  .search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper .restaurant-info .title {
    color: orange;
    font-size: 3rem;
  }
  .search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper .restaurant-info .title span {
    display: block;
    color: #5a5a5a;
    font-size: 20px;
  }
  .search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper .restaurant-info .recommended {
    color: #7601d6;
  }
  .search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper .priced {
    margin-top: 6%;
  }
  .search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper .priced p {
    color: #5a5a5a;
  }
  .search-main-section .container .row .col-2 .col-container .restaurants-wrapper .restaurant-card .flex-wrapper .restaurant-info-wrapper .priced .fa-user {
    display: none;
  }
}
