.showcase {
  background: url(/img/showcase.jpg) no-repeat center;
  height: 75%;

  // Icon embedded into input
  .input-container {
    position: relative;
    padding: 0;
    margin: 0;
  }
  .input {
    height: 20px;
    margin: 0;
    padding-left: 30px;
  }
  #input-icon {
    position: absolute;
    bottom: 8px;
    left: 10px;
    width: 10px;
    height: 10px;
  }
}
