.header {
  background: url(/img/header.jpg) center;
  background-size: cover;
  height: 15%;
  .container {
    .form-wrapper {
      z-index: 1;
      height: 100%;
      .displayFlex(center, row, center, none);

      input {
        padding: 10%;
      }

      .btn {
        z-index: 0;
        margin-top: 0.1%;
        margin-left: 1.8%;
        .primaryBtn(20px 40px, block, white, @primary-color);
        border: none;

        a {
          text-decoration: none;
          color: white;
        }
      }

      // Icon embedded into input (positioning)
      .input-container {
        position: relative;
        padding: 0;
        margin: 0;
      }
      .input {
        height: 20px;
        margin: 0;
        padding-left: 30px;
      }
      #input-icon {
        position: absolute;
        top: 30%;
        bottom: 0;
        left: 8px;
      }
    }
  }
}

.search-main-section {
  .container {
    .row {
      .displayFlex(none, row, none, none);
      .col-1 {
        .col-container {
          max-width: 350px;
          margin: 0 auto;
          .map {
            margin: auto;
            background: url(/img/map.jpg);
            background-size: cover;
            height: 100px;
            width: 100%;
            border-radius: 5px;
            .displayFlex(center, row, center, none);
            h1 {
              color: #fff;
              text-align: center;
              margin: auto 0;
            }
          }
          .price {
            .label-price {
              margin: 5% 0 1% 0;
              color: @light-grey-color;
              font-weight: bold;
            }
            .price-content {
              ul {
                .displayFlex(center, row, center, none);

                .border {
                  border-right: 1px solid @light-grey-color;
                }

                li {
                  padding: 1% 2%;
                }
              }
            }
          }

          .checkbox-wrapper {
            margin: 5% 0;
            h5 {
              font-size: 20px;
            }

            .checkboxes {
              .box {
                p {
                  margin-top: 2%;
                  margin-left: 5%;
                }
                .displayFlex(none, row, none, none);
              }

              .more {
                font-size: 15px;
                margin-left: 10%;
                text-decoration: none;
              }
            }
          }
        }
        margin-top: 2%;
        border: 1px solid black;
        height: 100%;
        width: 30%;
      }
    }
  }
}
